<!DOCTYPE html>
<html>
<head>
<title>Cart | Enchantr</title>
<link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../static/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="wizard hats, armor, invisibility cloak, robes, plague doctor mask, ghost mask" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- start menu -->
<link href="../static/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="../static/js/memenu.js"></script>
<script>$(document).ready(function(){$(".memenu").memenu();});</script>
<script src="../static/js/simpleCart.min.js"> </script>
<style>
h1 {
  font-size: 3em;
  font-family: 'OleoScript-Regular';
  text-align: center;
  margin: 0 0 1em;    
}
</style>
</head>

<body>
<!--header-->
{% include "header.html" %}

<!--content-->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <h1>Checkout Your Cart</h1>
	<table id="cart" class="table table-hover table-condensed">
        <form method="post">
    				<thead>
						<tr>
							<th style="width:50%">Product</th>
							<th style="width:10%">Price</th>
							<th style="width:8%">Quantity</th>
							<th style="width:22%" class="text-center">Subtotal</th>
							<th style="width:10%"></th>
						</tr>
					</thead>
					<tbody>
                        {% for row in cart_data %}
                            <tr>
                                <td data-th="Product">
                                    <div class="row">
                                        <div class="col-sm-2 hidden-xs"><img src={{row[4]}} alt="..." class="img-responsive"/></div>
                                        <div class="col-sm-10">
                                            <h4 class="nomargin">{{row[2]}}</h4>
                                            <p>{{row[3]}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td data-th="Price">${{row[7]}}</td>
                                <td data-th="Quantity">{{row[5]}}</td>
                                <td data-th="Subtotal" class="text-center">{{row[8]}}</td>
                                <td class="actions" data-th="">
                                    <button type="button" class="btn btn-danger btn-sm" onclick="window.location.href='/remove_item?cart={{row[0]}}&product={{row[1]}}';"><i class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>
                        {% endfor %}
					</tbody>
					<tfoot>
						<tr class="visible-xs">
							<td class="text-center"><strong>Total ${{session['cart_cost']}}</strong></td>
						</tr>
						<tr>
							<td><a href="/" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
							<td colspan="2" class="hidden-xs"></td>
							<td class="hidden-xs text-center"><strong>Total ${{session['cart_cost']}}</strong></td>
							<td><button type="submit" name="checkout"  class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></button></td>
						</tr>
                    {% if success==True %}
                        <tr>
                            <div style="color: green" class="msg">{{ message }}</div>
                        </tr>
                    {% else %}
                        <tr>
                            <div style="color: red" class="msg">{{ message }}</div>
                        </tr>
                    {% endif %}
					</tfoot>
                </form>
         </table>
</div>

<!--footer-->
{% include "footer.html" %}

<!--//footer-->
</body>
</html>