<!DOCTYPE html>
<html>
<head>
<title>Enchantr | Manage Customers</title>
<link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../static/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="wizard hats, armor, invisibility cloak, robes, plague doctor mask, ghost mask" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- start menu -->
<link href="../static/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="../static/js/memenu.js"></script>
<script>$(document).ready(function(){$(".memenu").memenu();});</script>
<script src="../static/js/simpleCart.min.js"> </script>
<!-- slide -->
<style>
h1 {
  font-size: 3em;
  font-family: 'OleoScript-Regular';
  text-align: center;
  margin: 0 0 1em;    
}
h2 {
  font-size: 1.5em;
  font-family: 'OleoScript-Regular';
}
.cust_table {
  width: 100%;
  background-color: #D0D0D0;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #52D0C4;
  border-style: solid;
  color: #000000;
  padding-top: 20px;
}

.cust_table td, .cust_table th {
  border-width: 2px;
  border-color: #52D0C4;
  border-style: solid;
  padding: 5px;
  color: #000000;
}

.cust_table thead {
  background-color: #52d0c4;
}
</style>
</head>
<body>
<!--header-->
{% include "header.html" %}
<!--//header-->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <h1>Manage Customers</h1>
    {% if session['job_title'] == 'Manager' %}
        <a href="/signup" style="font-family:'OleoScript-Regular'; font-size: 1.5em">Add New Customer</a>
        <br/><br/>
    {% endif %}
    <div>
        <table class="cust_table">
            <thead>
            <tr>
                <th>Customer ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Customer Type</th>
                <th>Street</th>
                <th>City</th>
                <th>ZIP</th>
                <th>State</th>
            </tr>
            </thead>
            <tbody>
                {% for row in cust_data %}
                    <tr>
                        <td data-th="ID">
                            {% if session['job_title'] != 'Intern' %}<a href="/edit_customer?id={{row[0]}}&kind={{row[5]}}" value=cust_{{row[0]}}>{{row[0]}}</a>
                            {% else %}{{row[0]}}{% endif %}
                        </td>
                        <td data-th="First Name">{{row[1]}}</td>
                        <td data-th="Last Name">{{row[2]}}</td>
                        <td data-th="Phone">{{row[3]}}</td>
                        <td data-th="Email">{{row[4]}}</td>
                        <td data-th="Type">{{row[5]}}</td>
                        <td data-th="Street">{{row[6]}}</td>
                        <td data-th="City">{{row[7]}}</td>
                        <td data-th="ZIP">{{row[8]}}</td>
                        <td data-th="State">{{row[9]}}</td>                        
                        {% if session['job_title'] == 'Manager' %}
                            <td class="actions" data-th=""><button class="btn btn-danger btn-sm" onclick="window.location.href='/remove_customer?id={{row[0]}}';"><i class="fa fa-trash-o"></i></button></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>