
<div class="header">
	<div class="header-top">
		<div class="container">
		  <div class="col-md-4 world">
                {% if session['loggedin']==True or session['emp_loggedin']==True %}
                    <p>Welcome, {{session['welcome_name']}}</p>
                {% endif %}
            </div>
            <div class="col-md-4 logo">
                <a href="/"><label style="font-size:35px;">Enchantr</label> <label>2020</label></a>
            </div>

			<div class="col-md-4 header-left">
                    {% if session['loggedin'] == True %}
                        <div id="loggedin" style="display: block">
                            <p class="log"><a href="/orders" >View Orders</a>
                            <span>or</span><a href="/logout">Logout</a></p>
                        </div>
                        <div id="loggedout" style="display: none">
                            <p class="log"><a href="/login"  >Login</a>
                            <span>or</span><a  href="/signup"  >Signup</a></p>
                        </div> 
                    {% elif session['emp_loggedin'] == True %}
                        <div id="loggedin" style="display: block">
                            <p class="log"><a href="/customers" >Manage Customers</a>
                            <a href="/stores">Manage Stores</a></p>
                        <div style="display: block">    
                            <p class="log"><a href="/products">Manage Products</a>
                            <a href="/logout">Logout</a></p>
                        </div>
                        <div id="loggedout" style="display: none">
                            <p class="log"><a href="/login"  >Login</a>
                            <span>or</span><a  href="/signup"  >Signup</a></p>
                        </div> 
                    {% else %}
                        <div id="loggedin" style="display: none">
                            <p class="log"><span>                     </span>
                            <a href="/logout">Logout</a></p>
                        </div>
                        <div id="loggedout" style="display: block">
                            <p class="log"><a href="/login"  >Login</a>
                            <span>or</span><a  href="/signup"  >Signup</a></p>
                        </div> 
                    {% endif %}
                    {% if session['emp_loggedin'] != True %}
                        <div class="cart box_1">
                        {% if session['cart_cost'] != null and session['cart_cost'] != 0 %}
                            <a href="/cart">
                            <h3> <div class="total">
                                <span>${{session['cart_cost']}}</span></div>
                                <img src="../static/images/cart.png" alt=""/></h3>
                            </a>
                            <p><a href="/empty_cart" class="simpleCart_empty">Empty Cart</a></p>
                        {% else %}
                            <h3> <div class="total">
                            <span>$0</span></div>
                            <img src="../static/images/cart.png" alt=""/></h3>
                        {% endif %}
                        </div>
                        <div class="clearfix"> </div>
                        </div>
                        <div class="clearfix"> </div>
                    {% endif %}
		</div>
		</div>
		<div class="container">
			<div class="head-top">
				<div class="col-md-2 number">
					<span><i class="glyphicon glyphicon-phone"></i>123-456-7890</span>
				</div>
		<div class="col-md-8 h_menu4">
				<ul class="memenu skyblue">
					  <li class=" grid"><a  href="/">Home</a></li>
				      <li><a  href="/page1?product_type_id=1">Wearables</a></li>
				    <li class="grid"><a  href="/page1?product_type_id=2">Decorations</a>
			    </li>
				<li><a  href="/page1?product_type_id=4">Pets</a></li>
				<li><a class="color6" href="/page1?product_type_id=6">Games</a></li>
			  </ul>
			</div>
				<div class="col-md-2 search">
			<a class="play-icon popup-with-zoom-anim" href="#small-dialog"><i class="glyphicon glyphicon-search"> </i> </a>
		</div>
		<div class="clearfix"> </div>
			<!---pop-up-box---->
					  <script type="text/javascript" src="../static/js/modernizr.custom.min.js"></script>
					<link href="../static/css/popuo-box.css" rel="stylesheet" type="text/css" media="all"/>
					<script src="../static/js/jquery.magnific-popup.js" type="text/javascript"></script>
					<!---//pop-up-box---->
				<div id="small-dialog" class="mfp-hide">
				<div class="search-top">
						<div class="login">
							<form action="/search_result/" method="post">
							<input type="text" value="Search product here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" name="searchtext"/>
							<!--a href="/search_result/" class="searcher"></a-->
							</form>
						</div>
						<p>	Shopping</p>
					</div>
				</div>
				 <script>
						$(document).ready(function() {
						$('.popup-with-zoom-anim').magnificPopup({
							type: 'inline',
							fixedContentPos: false,
							fixedBgPos: true,
							overflowY: 'auto',
							closeBtnInside: true,
							preloader: false,
							midClick: true,
							removalDelay: 300,
							mainClass: 'my-mfp-zoom-in'
						});

						});
				</script>
	<!---->
		</div>
	</div>
</div>
